body{
    font-family: Sans-serif;
    background-color: #eee;
    margin:20px;
  }
  
  h1{
      padding-top: 10px;
      padding-left: 20px;
  }
  
  p{
      padding-left: 20px;
  }
  
  
  main{
    border: 5px solid pink;
    background-color: white;
    width: 70%;
    padding-left: 8px;
    margin-left: 20px;
  }
  
  aside{
    display: block;
    padding: 10px;
    }
  
  footer{
    margin: 10px;
    background-color: grey;
    color: white;
    text-align: center;
}
  
  h2{
      font-size: 18;
      color: black;
      padding-left: 10px;
      padding-top: 10px;
  }
  
  p2{
    font-size: 14;
    padding: 10px;
    padding-top: 0px;
    display: block;
  }
  
  header ul{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  header ul li{
      display: inline-block;
  }

  main ul{
    list-style-type: none;
    margin: 50px;
    overflow: hidden;
    background-color: #eee;
  }
    
   
  header ul li a{
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
  }
  
  li a.active{
    background-color:red;
  }
  
  
  main li{
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    border: 11px solid #eee;
  }
  
  figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
