body{
    font-family: Sans-serif;
    background-color: #eee;
  }
  
  h1{
      padding-top: 10px;
      padding-left: 20px;
  }
  
  p{
      padding-left: 20px;
  }
  
  div{
      background-color:#eee;
      padding-bottom: 8px;
  }
  
  main{
    border: 5px solid pink;
    background-color: white;
    width: 70%;
    padding-left: 80px;
    margin-left: 200px;
  }
  
  aside{
    display: block;
    }
  
  footer{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 90%;
    background-color: grey;
    color: white;
    text-align: center;
}
  
  h2{
      font-size: 18;
      color:red;
      padding-left: 10px;
  }
  
  p2{
    font-size: 14;
    padding: 10px;
    padding-top: 0px;
    display: block;
  }
  
  ul{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  ul2{
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    background-color: #eee;
  }
    
   
  li a{
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
  }
  
  li a.active{
    background-color:red;
  }
  
  
  li2{
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    border: 11px solid #eee;
  }
  
  figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
